section#cb-featured{
  margin-top: 110px;
  >div>h2{
    margin-bottom: 40px;
font-size: 30px;
font-weight: 700;
line-height: 45px;
text-align: left;

  }
  >div>div{
    transition:1s ease;
  }
  >div>div:hover{
    transform:scale(1.03);
  }
  >div>div>div>h3:hover{
    color:red;
  }
}
section#cb-choose-tour{
  >div#cbr>h3{
font-size: 29.3px;
font-weight: 700;
line-height: 45px;
margin: 0px;

  }
  >div#cbr>p{
font-size: 14.77px;
font-weight: 400;
line-height: 28.13px;
margin: 0px;
  }
}
.main1 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.bg_img1 {
  background-image: url(".././images/CB_image(1).png");
  width: 410px;
  height: 450px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
  color: white;
  top: 90px;
  left: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bg_img2 {
  background-image: url(".././images/CB_image\(2\).png");
  width: 410px;
  height: 450px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
  color: white;
  top: 90px;
  left: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bg_img3 {
  background-image: url(".././images/CB_image\(3\).png");
  width: 410px;
  height: 450px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
  color: white;
  top: 90px;
  left: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bg_img4 {
  background-image: url(".././images/CB_image\(4\).png");
  width: 410px;
  height: 450px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
  color: white;
  top: 90px;
  left: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#cb1 {
  display: flex;

  justify-content: space-between;
}
.cb1 {
  width: 336.66px;
  height: 263.25px;
  top: 2658.13px;
  left: 358px;
  gap: 0px;
  border-radius: 24px 0px 0px 0px;
  opacity: 0px;
}
#cbr {
  text-align: center;
}
#cbr1 {
  padding: 10px;
}
#cbr11 {
  padding: 20px;
}
#cbr2 {
  padding: 10px;
}
#cbr22 {
  padding: 20px;
}
#cbr3 {
  padding: 10px;
}
#cbr33 {
  padding: 20px;
}
#cbr4 {
  padding: 10px;
}
#cbr44 {
  padding: 20px;
}
#cb-choose-tour {
  margin-top: 200px;
}
div#cbr {
  margin-bottom: 60px;
}
