section#sk-newyork,
section#sk-travels-sayings {
  box-sizing: border-box;
}

section#sk-newyork {
  h2 {
    color: #05073c;
    font-size: 29.77px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    span {
      color: #c6c6d2;
    }
  }

  #cards-box {
    display: flex;
    gap: 40px;
    justify-content: center;
  }

  .cards {
    border: 1px solid #e7e6e6;
    border-radius: 12px;
    transition: 1s ease;
    &:hover{
      transform:scale(1.02);
      opacity: 0.9;
    }
    img {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    .city {
      width: fit-content;
      margin-top: 10px;
      margin-left: 42px;
      font-size: 11.98px;
      color: #717171;
      font-weight: 400;
      line-height: 24.38px;
      text-align: left;
    }
    .description {
      width: fit-content;
      text-wrap: wrap;
      margin-top: 10px;
      margin-left: 21px;
      padding-right: 3px;
      color: #05073c;
      font-size: 15.63px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;

      &:hover{
        color:red;
      }
    }
    .rating {
      margin-top: 10px;
      margin-left: 101px;
      font-size: 12.49px;
      font-weight: 400;
      line-height: 24.38px;
      text-align: left;
      color: #05073c;
    }
    div.rate {
      margin: 15px 21px 11px 21px;
      border-top: 1px solid #e7e6e6;
      padding: 0px 15px;
      display: flex;
      justify-content: space-between;
      font-size: 12.59px;
      font-weight: 400;
      line-height: 24.38px;
      color: #05073c;

      .days {
        display: flex;
        justify-content: end;
      }
      span {
        font-size: 15.13px;
        font-weight: 500;
        line-height: 30px;
      }
    }
  }
}

section#sk-travels-sayings {
  background: #05073c;
  color: #ffffff;
  border-radius: 12px;
  padding: 75px  270px;
  margin-top: 105px;
  margin-bottom: 115px;
  p{
    margin: 0px;
  }
  div#content-box{
    padding: 15px;
  }
  div#content-box > div:nth-child(1) {
    display: flex;
    gap: 235px;
    justify-content: space-between;

    #s-box1 {
      margin-top: 95px;
      height: 280px;
      p {
        font-size: 30px;
        text-wrap: wrap;
        font-weight: 700;
        line-height: 45px;
      }
      #c-box-flex {
        display: flex;
        justify-content: space-between;

        >div {
          flex-basis: 50%;
          padding: 15px 20px;
        }
        .p1 {
          font-size: 39px;
          font-weight: 700;
          line-height: 75px;
          text-align: left;
        }
        .p2 {
          font-size: 15px;
          font-weight: 400;
          line-height: 28.13px;
          text-align: left;
        }
      }
    }
    #s-box2 {
      background: #ffffff;
      color: #05073C;
      height: 340px;
      border-radius: 24px;
      padding: 50px 40px 30px 40px;
      box-shadow: 0px 10px 40px 0px #0000000d;

      > p:nth-of-type(1) {
        color:red;
        font-size: 18px;
        font-weight: 500;
        line-height: 33.75px;
        text-align: left;
        margin-bottom: 19px;
      }
      .p {
        font-size: 15px;
        font-weight: 400;
        line-height: 28.13px;
        text-align: left;
      }
      > div {
        display: flex;
        margin-top: 25px;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;

        > p:first-of-type {
          font-size: 15px;
          font-weight: 500;
          line-height: 25.6px;
          text-align: left;
        }
      }
    }
  }
  div#m-box{
    margin: 100px auto;
font-size: 14.53px;
font-weight: 400;
line-height: 22.5px;
text-align: center;

  }
  #img-flex{
    display: flex;
    justify-content: space-around;
  }
}
